extends layout

block content
  h1= title
  -
  - var result = [{"jewellery_name":"Daimonds","jewellery_size":25,"jewellery_type":"small"},{"jewellery_name":"Gold","jewellery_size":20,"jewellery_type":"large"},{"jewellery_name":"platinum","jewellery_size":3,"jewellery_type":"Small"}]
  div.container-fluid
    div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) jewellery Name: #{item["jewellery_name"]}  <br>  jewellery_size: #{item["jewellery_size"]} <br> jewellery_type: #{item["jewellery_type"]} 
  script.
    function buy(index){
        alert("you purchased item "+(index+1))
        }
